html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Begin styles*/
html {
    font-size: 62.5%; 
    font-family: sans-serif;
}
body {
    display: flex;
    margin: 10px 50px 10px 50px;
    
    flex-direction: column;
}
#header {
    display: flex;
    height: 50px ;
    display: block;
    /*flex-direction: row;*/
}
/*.container {
    display: flex;
}
header {
    display: flex;
    align-items: center;
   
}*/
/* i must take this line because it effects all buttons and i"m changing the h1 to logo.
h1 button {
   display: flex; 
}*/
h1 {
    color: red;
    padding: 2%;
    font-size: 1.4rem;

}

.nav-bar button {
    
    flex-flow: row-reverse wrap;
    padding: .3%;
    /*justify-content: space-between;*/
}
nav button {
    text-decoration: none;
    border : 0px;
    font-size: 1rem;
    /*flex-flow: row-reverse wrap;
    flex-direction: row-reverse;
    /*justify-content: flex-end;
    justify-content: space-between;*/
}
/*nav a {
    flex-flow: row-reverse wrap;
}*/
section {
    display: flex;
    flex-direction: column;

    box-sizing: 50% ;
    padding: 10%;
    border: 100%;
    border-spacing: 1px;
    background-color: green;
    margin: 2%;
    
}
/*p {
    font-size: 2rem;
    flex-direction: ; 
}*/
.name-box p {
    box-sizing: 50%;
    /* border: 100%; */
    border-spacing: 10%;
    border-color: black;
    border-left-width: 50px;
    background-color: green;
    margin: 20%;
    justify-content: center;
    align-content: center;
}
.project-button {
    background-color: grey;
    box-sizing: 10%;
}
img {
    width: 29%;
    height: auto;
    margin: 2%;
    
}
.footer-content {
    display: flex;
    justify-content: center;
}